.user_item {
  margin-top: 72px;
  margin-left: 38px;
  height: 40px;
}
.user_img {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #D6EBFF;
}
.user_info {
  float: left;
  line-height: 40px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  margin-left: 31px;
}
.user_info span {
  margin-left: 14px;
}
